.header {
  z-index: 3;

  .link {
    color: #80489c;
    font-weight: 700;
    text-decoration: none;
  }

  .button {
    color: #80489c;
    border: none;
    background-color: white;
    font-weight: 700;
  }
}
